.container
	hr
	.row
		.col-sm-6
			p Built by
				a(href="https://github.com/JN88/bootstrap-starter" target="_blank") JN88
		.col-sm-6.text-right-min-sm
			p Website: <a href="http://icoder.vn">iCoder.vn</a>
