extends layouts/layout-full.pug

block config
    - var title = 'Home Page'

block script
    script(src="js/vendor/holder.js")

block content
    .container
        .jumbotron.text-center
            h1 Bootstrap Starter
            p
                a.btn.btn-primary(href='https://github.com/JN88/bootstrap-starter/archive/master.zip', role='button', target="_blank") Download
                |
                |
                a.btn.btn-primary(href='https://github.com/JN88/bootstrap-starter', role='button', target="_blank") View Github

        .row
            .col-md-3
                img.img-responsive(src="holder.js/300x200" alt="logo")
            .col-md-3
                img.img-responsive(src="holder.js/300x200" alt="logo")
            .col-md-3
                img.img-responsive(src="holder.js/300x200" alt="logo")
            .col-md-3
                img.img-responsive(src="holder.js/300x200" alt="logo")
            .col-md-6
    br
    div.box
        .container
            .row
                .col-md-6
                    h4 Lorem ipsum dolor sit amet
                    p Consectetur adipisicing elit. Tempore facilis laudantium molestiae. Id rerum commodi officia distinctio natus eius veritatis, praesentium, aspernatur libero sunt, voluptatibus, eveniet aliquid voluptas quam omnis.
                .col-md-6
                    h4 Lorem ipsum dolor sit amet
                    p Consectetur adipisicing elit. Tempore facilis laudantium molestiae. Id rerum commodi officia distinctio natus eius veritatis, praesentium, aspernatur libero sunt, voluptatibus, eveniet aliquid voluptas quam omnis.
