extends layouts/layout-full.pug

block config
    - var title = 'Home Page'

block content
    .container
        .jumbotron
            h1 Bootstrap Starter
            p This is a Project starter
            p: a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

        .row
            .col-md-6
                img.img-responsive(src="holder.js/300x200" alt="logo")
            .col-md-6
                h4 Lorem ipsum dolor sit amet
                p Consectetur adipisicing elit. Tempore facilis laudantium molestiae. Id rerum commodi officia distinctio natus eius veritatis, praesentium, aspernatur libero sunt, voluptatibus, eveniet aliquid voluptas quam omnis.
    br
    div.box
        .container
            .row
                .col-md-6
                    p Vivamus tellus sem, placerat non iaculis vel, molestie ut arcu. Phasellus ornare felis justo, eget varius leo bibendum ac.
                .col-md-6
                    p Vivamus tellus sem, placerat non iaculis vel, molestie ut arcu. Phasellus ornare felis justo, eget varius leo bibendum ac.
