doctype html
block config
html(class="no-js" lang="en")
	include ../includes/head.pug
	body
		block begin-body
		header#header.site-header
			include ../includes/header.pug
		main#main.site-main
			block content
		footer#footer.site-footer
			include ../includes/footer.pug
		include ../includes/bottom.pug
		block end-body